body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.hero {
  background-image: url('./images/the-flatiron-building.png');
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
.btn-nav {
    font-size: 18px;
    color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.hero h2 {
  font-size: 23px;
}
.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
.footer a {
  color: white;
}
